/* resources/static/css/botones.css */

/* Estilo base para botones */
.action-button {
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

/* Botón Ver Información */
.btn-informacion {
    background-color: #39A900; /* Verde */
    border-left: 5px solid #349a02;
}

.btn-informacion:hover {
    background-color: #39A900;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgb(1, 133, 56);
}

/* Botón Ver Bitácoras */
.btn-bitacoras {
    background-color: #339EFF; /* Azul claro */
    border-left: 5px solid #288ae3;
}

.btn-bitacoras:hover {
    background-color: #288ae3;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgb(0, 70, 198);
}
/* Botón Ver Seguimiento */
.btn-seguimiento {
    background-color: #1A4D80; /* Azul oscuro */
    border-left: 5px solid #17436e;
}
.btn-seguimiento:hover {
    background-color: #17436e;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgb(10, 33, 112);
}